

html::-webkit-scrollbar{
  width: .65rem;
}

html::-webkit-scrollbar-track{
  background: transparent;
}

html::-webkit-scrollbar-thumb{
  background: rgb(255, 255, 255);
  border-radius: 5rem;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif; 
  animation: transitionIn 0.75s;
  overflow: overlay;
}

/*Header Style*/
header {
  --text: #f4f4f4;/*Deklarojme vlera per ti perdorur me vone*/
  --text-inverse: #333;
  --background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 48px;
  transition: background 250ms ease-in;
  background: var(--background);
  color: var(--text); 
}
/*Stili per Logo*/
.logo {
  font-weight: 900;
  font-size: 16px;
  color: var(--text);/*Var e merr vleren nga rrenja, ne kete rast header, ku i kemi deklaruar me heret*/
  text-decoration: none; 
}
/*Nav-List*/
.nav_list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex; 
  flex-wrap: wrap;
  justify-content: center;}
/*Stili per butonat me linqe ne faqet e tjera*/
.nav_link {
  --spacing: 16px;
  text-decoration: none;
  color: inherit;
  display: inline-block;
  padding: calc(var(--spacing) / 2) var(--spacing);
  position: relative;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px; 
}
/*Stili per butonat pasi te behen hover*/
.nav_link:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: var(--spacing);
  right: var(--spacing);
  height: 2px;
  background: currentColor;
  transform: scaleX(0);
  transition: transform 150ms ease-in-out; 
}

.nav_link:hover::after {
  transform: scaleX(1); 
}
/*Stili per butonat Login dhe Join*/
.nav_link--btn {
  border: 1.5px solid currentColor;
  border-radius: 2em;
  margin-left: 1em;
  transition: background 250ms ease-in-out;
  letter-spacing: 1px;
  padding: 0.75em 1.5em; 
}

.nav_link--btn:hover {
  background: var(--text);
  color: var(--text-inverse);
  border-color: var(--text); 
}
/*Heq underline nga butonat Join dhe Login*/
.nav_link--btn::after {
  display: none; 
}
/*Stili unik per Join*/
.nav_link--btn--highlight {
  background: #23a6d5;
  border-color: #23a6d5;
  color: white; 
}

.nav_link--btn--highlight:hover {
  background: var(--text);
  border-color: var(--text); 
}
/*Ndryshimet per screen-fit kur faqja zvogelohet*/
@media screen and (max-width:900px){
  .nav_link--btn {
    margin: 5%;
  }

  .nav_list{
    margin-left: 10px;
  }
}
/*Kjo klase i shtohet Header-it kur behet intersect me pjesen tjeter te faqes, duke i ndryshuar dizajnin*/
.nav-scrolled {
  --text: #333;
  --text-inverse: #f4f4f4;
  --background: #f4f4f4;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2); 
}
/*Vetite e perbashketa te background ne fillim te faqes*/
.home-intro, .home-intro-abt, .home-intro-gal, .home-intro-com, .home-intro-con {
  padding: 50vh 0;
  background: url(img/giphy.gif);
  background-size:100% 100%;
  color: white;
  text-align: center; 
}
/*Ndryshimet unike te pjeses ne fillim te faqes*/
.home-intro-abt {
  background: url(img/bg.png);
  background-size: cover;
}

.home-intro-gal {
  background: url(img/bg3.png);
  background-size: cover;
}

.home-intro-com {
  background: url(img/bg4.png);
  background-size: cover;
}

.home-intro-con {
  background: url(img/bg5.png);
  background-size: cover;
}

.abt-intro{
  flex-direction: column;
  margin: 5%;
  width: 80%;
  text-align: center;
}

main {
  background: linear-gradient(-45deg, #23d5ab, #23a6d5, #e73c7e, #ee7752);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}
.home-about {
  padding: 64px 0 64px;
  width: 100%;
  max-width: 900px;
  margin: 0 auto; 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.about {
  width: 70%;
  background-color: white;
  border-radius: 13px 13px;
  display: flex;
  flex-wrap: wrap;
  margin: 5% auto;
  justify-content: center;
  }
 
@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

.home-about-abt, .home-about-gal, .home-about-com, .home-about-con {
  padding: 64px 0;
  max-width: 900px;
  margin: 0 auto;
  text-align: center; 
}

.slideshowimg{
  position: absolute;
  opacity: 1;
  transition: opacity 0.5s ease-in;
  width: 400px;
  height: 400px;
  box-shadow: 0 0 88px 5px rgba(0, 0, 0, 0.75);;
  border-radius: 13px;
  margin-top: 5%;

}

.footer {
  background-image: linear-gradient(cornflowerblue, rgb(113, 113, 219));
  border-top: solid 5px white; 
}

.home-about-foot {
  color: white;
  padding: px 0;
  max-width: 750px;
  margin: 0 auto; 
}

.columns {
  display: flex; 
  text-align: center;
}

.img-columns{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

}

.icon{
  padding: 5% 1% 1% 1%;
  width: 200px;
  margin: 1% auto;
  text-align: center;
  transition: opacity 250ms ease-in-out;
  transition: transform .2s;
  border-radius: 13px;
  border: 4px solid rgb(127, 214, 243);
}

.linkicon{
  padding: 5% 1% 1% 1%;
  width: 200px;
  margin: 1% auto;
  text-align: center;
  transition: opacity 250ms ease-in-out;
  transition: transform .2s;
  border-radius: 13px;
}
.linkicon:hover{
  background-color: lightgray;
  color: white;
  transform: scale(1.1);
}
.linkicon:hover img{
  opacity: 70%;
}
.icon:hover{
  background-color: rgb(127, 214, 243);
  color: white;
  transform: scale(1.1);
}
.icon:hover img{
  opacity: 70%;
}
.col + .col {
  margin-left: 1.5em; 
}

.radios{
  width: 20px;
  height: 20px;
  margin: -7% 0.5% 0;
}

#whitediv{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  border: solid 3px black;
  border-radius: 13px;
  transition: transform .3s;
  transition: background 0.3s ease-in;
}

#whitediv:hover{
  background-color: black;
  color: white;
  border: 0px;
  transform: scale(1.1);
}

#blackdiv{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  border-radius: 13px;
  transition: transform .3s;
  transition: background 0.3s ease-in;
}
#blackhr{
  width: 50%;
  border-width: 0;
  height: 4px;
  background-color: white;
}

#blackdiv:hover #blackhr{
  background-color: black;
}

#whitehr{
  width: 50%;
  border-width: 0;
  height: 4px;
  background-color: black;
}

#whitediv:hover #whitehr{
  background-color: white;
}

#blackdiv:hover{
  background-color: white;
  color: black;
  border: solid 3px black;
  transform: scale(1.1);
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg); }
  to {
    opacity: 1;
    transform: rotateX(0); } 
}

/*# sourceMappingURL=main.css.map */

@import url("https://fonts.googleapis.com/css?family=Heebo:800");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.parent {
  width: 681px;
  height: 384px;
  margin: 50px auto;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border-radius: 16px;
  -webkit-box-shadow: 0 0 88px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 88px 5px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 88px 5px rgba(0, 0, 0, 0.75); }

svg {
  position: absolute;
  z-index: 1;
  width: 681px;
  height: 384px; }

button {
  position: absolute;
  z-index: 50;
  width: 40px;
  overflow: hidden;
  height: 40px;
  border: none;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  -webkit-box-shadow: 0 0 88px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 88px 5px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 88px 5px rgba(0, 0, 0, 0.75); }
  button:focus {
    outline-width: 0; }

circle {
  stroke: lightblue;
  fill: none;
  transition: 0.3s; }

#svg1 circle {
  transition-timing-function: linear; }

#svg2 circle {
  transition-timing-function: linear; }

#Capa_1 {
  position: absolute;
  width: 16px;
  height: 16px;
  transform: translate(-7px, -8px); }

#Capa_2 {
  position: absolute;
  width: 16px;
  height: 16px;
  transform: translate(-9px, -8px); }

.right {
  margin-left: 628px;
  margin-top: 168px;
  border: 1px solid #849494;
  background-color: transparent;
  transition: .5s; }
  .right:hover {
    background-color: #fff; }

.left {
  margin-left: 0.5%;
  margin-top: 168px;
  border: 1px solid #849494;
  background-color: transparent;
  transition: .5s; }
  .left:hover {
    background-color: #fff; }

.circle1 {
  transition-delay: 0.05s; }

.circle2 {
  transition-delay: 0.1s; }

.circle3 {
  transition-delay: 0.15s; }

.circle4 {
  transition-delay: 0.2s; }

.circle5 {
  transition-delay: 0.25s; }

.circle6 {
  transition-delay: 0.3s; }

.circle7 {
  transition-delay: 0.35s; }

.circle8 {
  transition-delay: 0.4s; }

.circle9 {
  transition-delay: 0.45s; }

.circle10 {
  transition-delay: 0.05s; }

.circle11 {
  transition-delay: 0.1s; }

.circle12 {
  transition-delay: 0.15s; }

.circle13 {
  transition-delay: 0.2s; }

.circle14 {
  transition-delay: 0.25s; }

.circle15 {
  transition-delay: 0.3s; }

.circle16 {
  transition-delay: 0.35s; }

.circle17 {
  transition-delay: 0.4s; }

.circle18 {
  transition-delay: 0.45s; }

.slide1 {
  background-image: url("img/full-logo.png");
}
.slide2 {
  background-image: url("img/cover.png"); 
}

.slide3 {
  background-image: url("img/bg2.png");
}
.slide4 {
  background-image: url("img/games.jpeg"); }  

.slider {
  position: absolute;
  width: 400%;
  height: 100%;
  background: #000;
  display: inline-flex;
  overflow: hidden; }

.slide1, .slide2, .slide3, .slide4 {
  position: absolute;
  background-position: center;
  background-size: cover;
  color: #fff;
  font-size: 62px;
  padding-top: 138px;
  font-weight: 800;
  font-family: 'Heebo', sans-serif;
  text-align: center;
  width: 25%;
  height: 100%;
  z-index: 10;
  transition: 1.4s; }

.tran {
  transform: scale(1.3); }

.up1 {
  z-index: 20; }

.up2 {
  z-index: 40; }

.steap {
  stroke-width: 0; }

.streak {
  stroke-width: 82px; }

@media (max-width: 700px) {
  .parent {
    margin-left: 1%; } }

/*# sourceMappingURL=style.css.map */


.loading:after {
  content: ' .';
  animation: dots 1s steps(5, end) infinite;}

@keyframes dots {
  0%, 20% {
    color: rgba(0,0,0,0);
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  40% {
    color: white;
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  60% {
    text-shadow:
      .25em 0 0 white,
      .5em 0 0 rgba(0,0,0,0);}
  80%, 100% {
    text-shadow:
      .25em 0 0 white,
      .5em 0 0 white;}}
